.content
  .content__about
    .contents__about__title
      %h1.first-name
      %h1.family-name
      %p.subtitle

  .content__about
    .content__about__introduction
      %h1.title
      %img.image
      %p.about-me

  .contents__about
    .contents__about__highschool
      %h1.title
      %p.about-me
      %img.image

  .contents__about
    .contents__about__univercity
      %h1.title
      %img.image
      %p.about-me

  .contents__about
    .contents__about__employee
      %h1.title
      %img.image
      %p.about-me

  .content__about
    .contents__about__skills
      %ul.html
        %li.image
        %li.language
        %li.level
      %ul.css
        %li.image
        %li.language
        %li.level
      %ul.javascript
        %li.image
        %li.language
        %li.level
      %ul.ruby
        %li.image
        %li.language
        %li.level
      %ul.rails
        %li.image
        %li.language
        %li.level
    .contents__about__Tools
      %ul.sql
        %li.image
        %li.language
        %li.level
      %ul.git
        %li.image
        %li.language
        %li.level
      %ul.slack
        %li.image
        %li.language
        %li.level
      %ul.trello
        %li.image
        %li.language
        %li.level
    .content__about__explanation

  .contents__about
    .contents__about__works
      %h1.title
      %a.about
      %p.guide
  
  .contents__about
    .contents__about__form
      %h1.title
      %p.guide
      %a.contact
      

