// ヘッダーデザイン

.top{
  &__guide{
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 70%;
    &__contents{
      display: inline;
      margin-right: 15px;
      a{
        text-decoration: none;
        color: #000;
      }
      a:hover{
        color: red;
      }
    }
  }
}